@import 'src/styles/media'
@import 'src/styles/variables'

.trainingStats
	display: flex
	padding: 20px
	align-items: center
	justify-content: space-between
	font-size: large

	table
		border-collapse: collapse
		max-width: 50%
		text-align: center

		td
			border: 1px solid darkgray
			padding: 3px

		.mistake
			color: red

		.correct
			color: darkgreen

		thead
			font-weight: bold

	ul
		li:first-child::marker
			content: $time-icon

		li:nth-child(2)::marker
			content: $total-icon

		li:nth-child(3)::marker
			content: $correct-icon

		li:nth-child(4)::marker
			content: $percentage-icon

		li:nth-child(5)::marker
			content: $speed-icon
