@import 'src/styles/variables'

.menu
	box-shadow: $shadow
	padding: 20px
	border-radius: $border-radius

	blockquote p
		margin-block: 5px

.actions
	margin-top: 20px
	display: flex
	flex-wrap: wrap
	padding: 10px
	align-items: center
	width: fit-content

	& > *
		margin-inline: 5px
