@import 'src/styles/global'
@import 'src/styles/variables'

.header
	position: sticky
	left: 0
	top: 0
	right: 0
	height: 50px
	display: flex
	align-items: center
	justify-content: space-between
	padding-inline: 20px
	background-color: rgba($white, .8)
	backdrop-filter: blur(5px)
	z-index: 1

	nav > a
		text-decoration: none
		color: black
		padding-inline: 10px
