.exerciseCard
	text-decoration: none
	color: black
	background: lightblue
	border-radius: 10px
	padding: 10px

	strong
		display: inline-block
		width: 100%
		text-align: center

.progressbarWrapper
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding: 30px

	progress
		width: 100%
		height: auto
		outline: 1px solid darkgray

	span
		font-size: xx-large
